name: Deploy to CloudPanel

on:
  push:
    branches:
      - main # Hoặc master, tùy branch chính của em

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd /home/tdatdev-zoldify/htdocs/zoldify.tdatdev.software
            git pull origin main
            composer install --no-dev --optimize-autoloader
            php migrate.php
